<div class="main-box">
  <div class="container">

    <h2 class="text-center">Todo List</h2>
    <form #from="ngForm">
      <div class="text-center my-5 col-12">
        <label>Enter the Your task</label>
        <br>
        <input class="input-box" placeholder="Enter Your task" type="text" name="task" #task>
        <button class="submit-icon"><i class="bi bi-plus-square-dotted"></i></button>
      </div>
    </form>

    <div class="imges">
      <div class="welcome-shape">
        <div class="shape1">
          <img src="../../assets/img/cup.png" alt="image">
        </div>
        <div class="shape2">
          <img src="../../assets/img/lap.png" alt="image">
        </div>
      </div>
      <div class="welcome-shape">
        <div class="shape3">
          <img src="../../assets/img/2.png" alt="image">
        </div>
        <div class="shape4">
          <img src="../../assets/img/3.png" alt="image">
        </div>
      </div>
      <div class="welcome-shape">
        <div class="shape5">
          <img src="../../assets/img/7.png" alt="image">
        </div>
      </div>
    </div>
    <div class="datashow-box">
      <div class="row">
        <div class="col-3 title">
          <h3>hello
            <hr>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
