.container {
  width: 1140px;
  margin: 0 auto;
  background-color: #f7f9fd;
  padding: 30px 50px;
}

.expense-list{
  overflow-y: scroll;
  overflow-x:  hidden !important;
  height: 300px;
}
h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.week-indicator {
  text-align: center;
  margin-bottom: 2rem;
}

.budget-section,
.expense {
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 0px -2px 11px 3px rgb(195 189 253 / 50%);
  border-radius: 15px;
}
.bgd{
  color: #f4a106;
}

::selection {
  color: #fa7132;
}

label {
  font-size: 20px;
}

input {
  width: 100%;
  border: none;
  border-bottom: 2px dotted #ced4da;
  outline: none;
}

.survey {
  background-color: #b4b4f1;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 20px 0;
  box-shadow: 1px 2px 7px 0px #3a3a3ab0;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px 0;
  font-size: 18px;
}

button:hover {
  background-color: #3e8e41;
}

ul {
  list-style: none;
  padding: 0;
}

.expense-item {

  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

i {
  font-size: 24px;
  cursor: pointer;
}
